body {
  background-color: black;
  text-align: center;
  font-family: verdana;
}

.downloadlink {
  font-size: 16px;
  color: aquamarine;
}

.title {
  text-align: center;
  font-family: verdana;
  font-size: 50px;
  color: white;
}

.middletitle {
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.description {
  font-family: verdana;
  font-size: 21px;
  color: gray;
}

.copyright {
  text-align: right;
  color: gray;
  font-size: 21px;
}

.comingsoon {
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}
